:global(#app) {
  .field {
    width: 100%;
    padding-right: 26px;
    height: 36px;
    border-radius: 3px 0 0 3px;
  }

  .clearButton {
    margin-left: -24px;

    svg {
      vertical-align: middle;
      fill: var(--textColor3);
    }

    &:hover {
      svg {
        fill: var(--textColor4);
      }
    }
  }
}
