:global(#app) {
  .field {
    background-color: var(--backgroundColorTmpDarkerField2);
    color: var(--textColor1);
    border-radius: 3px;
    overflow: hidden;
    resize: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    min-height: 40px;

    &::placeholder {
      color: var(--textColor3);
    }

    &:focus {
      border: 1px solid var(--borderOutline2);
    }

    &::selection {
      color: var(--textColorWhite);
      background: var(--selectionBackground);
    }
  }

  .wrapper {
    background: var(--backgroundList);
    border-radius: 3px;
    padding: 4px;
    width: 272px;
    min-height: 85px;
  }
}
