:global(#app) {
  .field {
    background-color: #bdbdbd;
    border-radius: 2px;
    box-shadow: 0 1px 0 #ccc;
    border: none;
  }

  .wrapper {
    background: #dfe3e6;
    border-radius: 3px;
    padding: 4px;
    transition: opacity 40ms ease-in;
    width: 272px;
    min-height: 85px;
  }
}
