:global(#app) {
  .addButton {
    color: var(--textColor1);
    width: 32px;
    height: 32px;
  }

  .editButton {
    opacity: 0;
    position: absolute;
    right: 2px;
    top: 2px;
    width: 32px;
    height: 32px;
  }

  .link {
    color: var(--textColor2);
    cursor: pointer;
    display: block;
    padding: 10px 34px 6px 14px;
    text-overflow: ellipsis;
    max-width: 250px;
    overflow: hidden;
  }

  .tab {
    border-radius: 3px 3px 0 0;
    min-width: 75px;
    position: relative;
    transition: all 0.1s ease;

    &:hover {
      background: rgba(0, 0, 0, 0.24);

      .target {
        opacity: 1;
      }
    }
  }

  .tabActive {
    background: rgba(0, 0, 0, 0.24);

    &:hover {
      background: rgba(0, 0, 0, 0.32);
    }

    .link {
      color: var(--textColor0);
      font-weight: bold;
    }
  }

  .tabWrapper {
    display: flex;
    flex: 0 0 auto;
  }

  .tabs {
    display: flex;
    height: 38px;
    flex: 0 0 auto;
    white-space: nowrap;
    align-items: center;
  }

  .tabsWrapper {
    display: flex;
    flex: 0 0 auto;
    height: 56px;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: thin;

    &:hover {
      height: 38px;
    }

    &::-webkit-scrollbar {
      height: 5px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
    }
  }

  .wrapper {
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    height: 38px;
    overflow: hidden;
  }
}
