:global(#app) {
  .addButton {
    color: var(--textColor1);
    width: 32px;
    height: 32px;
  }

  .editButton {
    opacity: 0;
    width: 20px;
    height: 36px;
  }

  .link {
    color: var(--textColor2);
    cursor: pointer;
    display: block;
    padding: 10px 4px 6px 0px;
    text-overflow: ellipsis;
    max-width: 250px;
    overflow: hidden;
  }

  .tab {
    border-radius: 3px 3px 0 0;
    padding: 0 8px;
    transition: all 0.1s ease;
    display: flex;
    justify-content: space-between;

    &:hover {
      background: var(--headerButtonHover);

      .target {
        opacity: 1;
      }
    }
  }

  .tabActive {
    background: var(--backgroundTabActive);

    .link {
      color: var(--textColor0);
      font-weight: bold;
    }
  }

  .tabWrapper {
    display: flex;
    flex: 0 0 auto;
  }

  .tabs {
    display: flex;
    height: 38px;
    flex: 0 0 auto;
    white-space: nowrap;
    align-items: center;
  }

  .tabsWrapper {
    display: flex;
    flex: 0 0 auto;
    height: 56px;

    &:hover {
      height: 38px;
    }
  }

  .wrapper {
    border-bottom: 1px solid var(--backgroundTabActive);
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    height: 38px;
    overflow: hidden;
  }
}
