:global(#app) {
  .loader {
    margin-top: 10px;
  }

  .toggleButton {
    background: transparent;
    box-shadow: none;
    color: var(--textColor2);
    float: right;
    font-weight: normal;
    margin-right: 0;
    padding: 6px 0 6px 6px;
    text-align: left;
    transition: none;

    &:hover {
      color: var(--textColor3);
    }
  }
}
