:global(#app) {
  .author {
    color: var(--textColor0);
    display: inline-block;
    font-weight: bold;
    line-height: 20px;
    margin-right: 8px;
    padding: 6px 0px 4px 0px;
  }

  .content {
    border-bottom: 1px solid #092d4221;
    display: inline-block;
    padding-bottom: 4px;
    vertical-align: top;
    width: 100%;
  }

  .date {
    color: var(--textColor2);
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
  }

  .text {
    background: var(--backgroundColorTmpDarkerField);
    color: var(--textColor1);
    border-radius: 3px;
    // box-shadow: 0 1px 2px -1px rgba(9, 30, 66, 0.25), 0 0 0 1px rgba(9, 30, 66, 0.08);
    box-sizing: border-box;
    display: inline-block;
    margin: 1px 2px 4px 1px;
    width: 100%;
    overflow: hidden;
    padding: 8px 10px;
  }

  .title {
    padding-bottom: 4px;
  }

  .user {
    display: inline-block;
    padding: 4px 8px 0 0;
    vertical-align: top;
  }

  .buttons {
    float: right;
    padding: 8px 0 6px 6px;
  }

  .button {
    color: var(--textColor2);
    font-size: 1rem;

    &:hover {
      color: var(--textColor3);
    }
  }
}
