:global(#app) {
  --backgroundColor0: #1e1e1e;
  --backgroundColor1: #252526;
  --backgroundColor2: #333333;
  --textColor0: #ebebec;
  --textColor1: #d3d3d3;
  --textColor2: #999999;

  .controls {
    height: 32px;
    margin-top: 5px;
    text-align: right;
  }

  .submitButton {
    margin: 0px;
    padding: 4px 6px 3px 6px;
    box-shadow: none;
  }

  .cancelButton {
    margin-right: 7.5px;
    padding: 4px 6px 3px 6px;
    box-shadow: none;
  }

  .scrollable {
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #646464 #a6a6a6;

    &::-webkit-scrollbar {
      width: 8px;
      background-color: #a6a6a6;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background-color: #646464;
    }
  }

  .iconButton {
    background: none;
    box-shadow: none;
    color: #686868;
    margin: 0;
    padding: 0;
    min-height: 10px;

    &:hover {
      color: #000000;
    }
  }

  .cursorDefault {
    cursor: default;
  }

  .cursorPointer {
    cursor: pointer;
  }
}
