:global(#app) {
  .controls {
    height: 32px;
    margin-top: 5px;
    text-align: right;
  }

  .submitButton {
    margin: 0px;
    padding: 4px 6px 3px 6px;
    box-shadow: none;
  }

  .cancelButton {
    margin-right: 7.5px;
    padding: 4px 6px 3px 6px;
    box-shadow: none;
  }

  .scrollable {
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #646464 #a6a6a6;

    &::-webkit-scrollbar {
      width: 8px;
      background-color: #a6a6a6;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background-color: #646464;
    }
  }

  .iconButton {
    background: none;
    box-shadow: none;
    color: #686868;
    margin: 0;
    padding: 0;
    min-height: 10px;

    &:hover {
      color: #000000;
    }
  }
}
