:global(#app) {
  .controls {
    height: 32px;
    margin-top: 5px;
    text-align: right;
  }

  .submitButton {
    margin: 0px;
    padding: 4px 6px 3px 6px;
    box-shadow: none;
  }

  .cancelButton {
    margin-right: 7.5px;
    padding: 4px 6px 3px 6px;
    box-shadow: none;
  }
}
