:global(#app) {
  .themeButtons {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .themeButton {
    padding: 8px;
    transition: all 0.2s ease;
    border: 1px solid var(--backgroundPopupSeparator);
    background: var(--backgroundButton);

    &:hover {
      background: var(--backgroundButtonHover);
    }
  }

  .themeButtonActive {
    box-shadow: 0 0 5px var(--accentSelected);
    border-color: var(--accentSelected);

    .previewBox {
      border-color: var(--textColor3);
    }

    .themeName {
      color: var(--textColor1);
    }
  }

  .themePreview {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .previewBox {
    width: min(50px, 100%);
    height: 30px;
    background: var(--backgroundFillBase2);
    border: 2px solid var(--borderVivid);
    border-radius: 4px;
  }

  .previewBoxRounded {
    border-radius: 12px;
  }

  .themeName {
    color: var(--textColor2);
    font-size: 14px;
  }
}
