:global(#app) {
  .checkboxesWrapper {
    width: 100%;
    margin-bottom: 6px;
  }

  .checkboxWrapper {
    margin: 6px 0 4px 0;
    display: inline-block;
    vertical-align: middle;
  }

  .checkbox {
    background: var(--backgroundCheckbox);

    &:hover {
      background: var(--backgroundCheckboxHover);
    }
  }

  .checkboxText {
    padding-left: 4px;
    display: inline-block;
  }
}
