:global(#app) {
  .checkbox {
    appearance: none;
    height: 20px;
    width: 20px;
    min-width: 20px;
    min-height: 20px;
    background: var(--backgroundColo0);
    border-radius: 3px;
    border: 1px solid var(--textColor3);
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 16px;
    padding: 1px;

    &:before {
      content: "Г";
      color: var(--textColor2);
      transform: rotate(-135deg);
      visibility: hidden;
    }

    &:checked:before {
      visibility: visible;
    }

    &:hover {
      background: var(--backgroundColor2);
      cursor: pointer;
    }

    &:disabled {
      background: var(--backgroundDisabled);
      border: 1px solid var(--backgroundPopupSeparator);
      cursor: not-allowed;
    }
  }
}
