:global(#app) {
  .field {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: none;
    color: var(--textColorWhite);
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    overflow: hidden;
    resize: none;
    width: calc(100% - 60px);

    &:focus {
      background: var(--backgroundColorTmpDarkerField);
      border-color: var(--borderOutline);
      box-shadow: 0 0 2px 0 var(--borderOutline);
      outline: 0;
    }
  }
}
