:global(#app) {
  .action {
    border: none;
    border-radius: 0.28571429rem;
    display: inline-block;
    height: 36px;
    overflow: hidden;
    position: relative;
    width: 100%;

  }

  .wrapper {
    border: none;
    box-shadow: none;
  }
}
