:global(#app) {
  .headerButton {
    float: right;
    position: relative;
  }

  .headerButtonOffset {
    position: relative;
    float: left;
    width: 70px;
    height: 32px;
  }

  @media (max-width: 500px) {
    .headerButtonOffset {
      width: 0;
      height: 0;
    }
  }
}
