:global(#app) {
  .content {
    min-width: 300px;
  }

  .headerIcon {
    margin-left: 4px;
    fill: var(--textColor2);
    vertical-align: baseline;
  }

  .dropdownMenu {
    z-index: 2001;
  }

  .text {
    color: var(--textColor1);
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 4px;
  }
}
