/* Fonts */
@font-face {
  font-family: "Museo Sans";
  src: url("./fonts/MuseoSansCyrl-100.eot");
  src: local("MuseoSansCyrl-100"),
    url("./fonts/MuseoSansCyrl-100.eot?#iefix") format("embedded-opentype"),
    url("./fonts/MuseoSansCyrl-100.woff") format("woff"),
    url("./fonts/MuseoSansCyrl-100.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans";
  src: url("./fonts/MuseoSansCyrl-100Italic.eot");
  src: local("MuseoSansCyrl-100Italic"),
    url("./fonts/MuseoSansCyrl-100Italic.eot?#iefix") format("embedded-opentype"),
    url("./fonts/MuseoSansCyrl-100Italic.woff") format("woff"),
    url("./fonts/MuseoSansCyrl-100Italic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Museo Sans";
  src: url("./fonts/MuseoSansCyrl-300.eot");
  src: local("MuseoSansCyrl-300"),
    url("./fonts/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"),
    url("./fonts/MuseoSansCyrl-300.woff") format("woff"),
    url("./fonts/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans";
  src: url("./fonts/MuseoSansCyrl-300Italic.eot");
  src: local("MuseoSansCyrl-300Italic"),
    url("./fonts/MuseoSansCyrl-300Italic.eot?#iefix") format("embedded-opentype"),
    url("./fonts/MuseoSansCyrl-300Italic.woff") format("woff"),
    url("./fonts/MuseoSansCyrl-300Italic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Museo Sans";
  src: url("./fonts/MuseoSansCyrl-500.eot");
  src: local("MuseoSansCyrl-500"),
    url("./fonts/MuseoSansCyrl-500.eot?#iefix") format("embedded-opentype"),
    url("./fonts/MuseoSansCyrl-500.woff") format("woff"),
    url("./fonts/MuseoSansCyrl-500.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans";
  src: url("./fonts/MuseoSansCyrl-500Italic.eot");
  src: local("MuseoSansCyrl-500Italic"),
    url("./fonts/MuseoSansCyrl-500Italic.eot?#iefix") format("embedded-opentype"),
    url("./fonts/MuseoSansCyrl-500Italic.woff") format("woff"),
    url("./fonts/MuseoSansCyrl-500Italic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Museo Sans";
  src: url("./fonts/MuseoSansCyrl-700.eot");
  src: local("MuseoSansCyrl-700"),
    url("./fonts/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"),
    url("./fonts/MuseoSansCyrl-700.woff") format("woff"),
    url("./fonts/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans";
  src: url("./fonts/MuseoSansCyrl-700Italic.eot");
  src: local("MuseoSansCyrl-700Italic"),
    url("./fonts/MuseoSansCyrl-700Italic.eot?#iefix") format("embedded-opentype"),
    url("./fonts/MuseoSansCyrl-700Italic.woff") format("woff"),
    url("./fonts/MuseoSansCyrl-700Italic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Museo Sans";
  src: url("./fonts/MuseoSansCyrl-900.eot");
  src: local("MuseoSansCyrl-900"),
    url("./fonts/MuseoSansCyrl-900.eot?#iefix") format("embedded-opentype"),
    url("./fonts/MuseoSansCyrl-900.woff") format("woff"),
    url("./fonts/MuseoSansCyrl-900.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans";
  src: url("./fonts/MuseoSansCyrl-900Italic.eot");
  src: local("MuseoSansCyrl-900Italic"),
    url("./fonts/MuseoSansCyrl-900Italic.eot?#iefix") format("embedded-opentype"),
    url("./fonts/MuseoSansCyrl-900Italic.woff") format("woff"),
    url("./fonts/MuseoSansCyrl-900Italic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

/* Border-Box */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Remove input shadows in Firefox Mobile and on iPad */
input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Page defaults */
html,
body {
  height: 100%;
}

html {
  font-size: 14px;
}

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  min-width: 320px;
  background: #22252a;
  font-family: "Museo Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.4285em;
  color: #ffffff;
}

/* Headings */
h1,
h2,
h3,
h4,
h5 {
  font-family: inherit;
  line-height: 1.28571429em;
  margin: calc(2rem - 0.14285714em) 0em 1rem;
  font-weight: bold;
  padding: 0em;
}

h1 {
  min-height: 1rem;
  font-size: 2rem;
}

h2 {
  font-size: 1.71428571rem;
}

h3 {
  font-size: 1.28571429rem;
}

h4 {
  font-size: 1.07142857rem;
}

h5 {
  font-size: 1rem;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
  margin-top: 0em;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child {
  margin-bottom: 0em;
}

/* Text margins */
p {
  margin: 0em 0em 1em;
  line-height: 1.4285em;
}

p:first-child {
  margin-top: 0em;
}

p:last-child {
  margin-bottom: 0em;
}

/* Links */
a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  color: #1e70bf;
  text-decoration: none;
}

/* Selection */
::selection {
  color: var(--textColorWhite);
  background: var(--selectionBackground);
}


/* Modified version of normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/*
1. Correct the line height in all browsers
2. Prevent adjustments of font size after orientation changes in iOS
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Remove the margin in all browsers */
body {
  margin: 0;
}

/* Correct the font size and margin on `h1` elements within `section` and `article` contexts in Chrome, Firefox, and Safari */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/*
1. Add the correct box sizing in Firefox
2. Show the overflow in Edge and IE
*/
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/*
1. Correct the inheritance and scaling of font size in all browsers
2. Correct the odd `em` font sizing in all browsers
*/
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/*
1. Remove the bottom border in Chrome 57-
2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari
*/
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/* Add the correct font weight in Chrome, Edge, and Safari */
b,
strong {
  font-weight: bolder;
}

/*
1. Correct the inheritance and scaling of font size in all browsers
2. Correct the odd `em` font sizing in all browsers
*/
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Add the correct font size in all browsers */
small {
  font-size: 80%;
}

/* Prevent `sub` and `sup` elements from affecting the line height in all browsers */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Change the font styles in all browsers
2. Remove the margin in Firefox and Safari
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/* Remove the inheritance of text transform in Edge, Firefox, and IE */
button,
select {
  text-transform: none;
}

/* Correct the inability to style clickable types in iOS and Safari */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  appearance: button;
}

/* Correct the padding in Firefox */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/*
1. Correct the text wrapping in Edge and IE
2. Correct the color inheritance from `fieldset` elements in IE
3. Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers
*/
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* Remove the default vertical scrollbar in IE */
textarea {
  overflow: auto;
}

/* Correct the cursor style of increment and decrement buttons in Chrome */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari
2. Correct the outline style in Safari
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/* Remove the inner padding in Chrome and Safari on macOS */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari
2. Change font properties to `inherit` in Safari
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Add the correct display in Edge, IE 10+, and Firefox */
details {
  display: block;
}

/* Add the correct display in all browsers */
summary {
  display: list-item;
}
