:global(#app) {
  .wrapper {
    border-radius: calc(var(--tw-radius) - 2px);
    color: var(--textColorWhite);
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    max-width: 100%;
    overflow: hidden;
    padding: 2px 8px;
    text-overflow: ellipsis;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
  }

  .wrapperCard {
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.02em;
    padding: 2px 7px;
    border-radius: 4px;
  }

  .wrapperHoverable {
    cursor: pointer;
  }

  .button {
    background: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
}
