:global(#app) {
  .button {
    opacity: 0;
  }

  .icon {
    vertical-align: middle;
  }

  .contentHoverable:hover {
    background: var(--backgroundColorTmpDarkerField2);

    .target {
      opacity: 1;
    }
  }

  .task {
    color: var(--textColor1);
    overflow: hidden;
    overflow-wrap: break-word;
    width: 100%;
    margin-left: 4px;
  }

  .taskCompleted {
    color: var(--textColor3);
    text-decoration: line-through;
  }

  .taskEditable {
    cursor: pointer;
  }

  .wrapper {
    border-radius: 3px;
    padding: 4px 2px;
    width: 100%;
    display: flex;
    justify-content: left;
  }

  .checkbox {
    background: var(--backgroundColorTmpBackground);

    &:hover {
      background: var(--backgroundColorTmpBackgroundHover);
    }
  }
}
