:global(#app) {
  .field {
    background: #bdbdbd;
    border: 0px;
    border-radius: 2px;
    box-sizing: border-box;
    color: #17394d;
    display: block;
    font-size: 14px;
    line-height: 1.5;
    overflow: hidden;
    padding: 8px 12px;
    resize: none;
  }

  .wrapper {
    padding: 9px 0px 9px 40px;
  }
}
