:global(#app) {
  .field {
    background: var(--backgroundColorTmpDarkerField2);
    color: var(--textColor1);
    border: 2px solid var(--borderOutlin2); //TODO invisible
    border-radius: 2px;
    box-sizing: border-box;
    display: block;
    font-size: 14px;
    line-height: 1.5;
    overflow: hidden;
    padding: 8px 12px;
    resize: none;
  }

  .wrapper {
    padding: 9px 0px 9px 24px;
  }
}
