:global(#app) {
  .field {
    border: none;
    margin-bottom: 4px;
    outline: none;
    overflow: hidden;
    padding: 0;
    resize: none;
    width: 100%;
    background-color: #bdbdbd;
  }

  .fieldWrapper {
    background-color: #bdbdbd;
    border-radius: 2px;
    box-shadow: 0 1px 0 #ccc;
    margin-bottom: 5px;
    min-height: 20px;
    padding: 6px 8px 2px;
  }

  .controls {
    height: 32px;
    margin-top: 5px;
    text-align: right;
  }

  .submitButton {
    margin: 0px;
    padding: 4px 6px 3px 6px;
    box-shadow: none;
  }

  .cancelButton {
    margin-right: 7.5px;
    padding: 4px 6px 3px 6px;
    box-shadow: none;
  }

  .wrapper {
    padding-bottom: 5px;
  }

  .wrapperClosed {
    display: none;
  }
}
