:global(#app) {
  --cardsInnerWrapperFullOffset: 239;
  --cardsInnerWrapperOffset: 275;
  --headerNameDefaultHeight: 20;

  .addCardButton {
    background: #dfe3e6;
    border: none;
    color: #6b808c;
    cursor: pointer;
    display: block;
    fill: #6b808c;
    flex: 0 0 auto;
    font-weight: normal;
    height: 36px;
    outline: none;
    padding: 8px;
    text-align: left;
    width: 272px;

    &:hover {
      background: #c3cbd0;
      color: #17394d;
      fill: #17394d;
    }
  }

  .addCardButtonIcon {
    height: 20px;
    padding: 0.64px;
    width: 20px;
  }

  .addCardButtonText {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-left: 2px;
    vertical-align: top;
  }

  .cards {
    min-height: 1px;
  }

  .cardsInnerWrapper {
    width: 272px;
  }

  .cardsInnerWrapperScrollable {
    width: 269px;
  }

  .cardsOuterWrapper {
    padding: 0 6px;
    white-space: normal;
    width: 272px;
  }

  .cardsOuterWrapperScrollable {
    padding: 0 0 0 6px;
    white-space: normal;
    width: 258px;
  }

  .header {
    outline: none;
    padding: 4px 8px;
    position: relative;
    float: left;
  }

  .headerCollapsed {
    outline: none;
    height: calc(100vh - 191px);
  }

  .headerCollapsedInner {
    height: inherit;
  }

  .headerButton {
    position: relative;
    float: right;
    right: -3px;
    width: 10px;
    height: 20px;
  }

  .headerName {
    color: #17394d;
    font-weight: bold;
    line-height: 20px;
    max-height: 40px;
    width: 236px;
    text-indent: 8px;
    position: relative;
    float: left;
    left: -10px;
    outline: none;
    overflow: hidden;
    overflow-wrap: break-word;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .headerNameCollapsed {
    color: #17394d;
    font-weight: bold;
    outline: none;
    overflow: hidden;
    writing-mode: vertical-rl;
    padding: 0px 5px 10px 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-height: 85%;
  }

  .headerCollapseButton {
    z-index: 100;
    position: relative;
    float: left;
    left: -2px;
    width: 10px;
    height: 20px;
  }

  .headerCollapseButtonCollapsed {
    height: 30px;
    width: 30px;
  }

  .headerCardsCount {
    color: #798d99;
    font-size: 12px;
    position: relative;
    float: left;
  }

  .headerCardsCountCollapsed {
    color: #798d99;
    font-size: 12px;
    max-height: 10%;
    writing-mode: vertical-rl;
    padding: 0px 5px 10px 5px;
  }

  .innerWrapper {
    margin-right: 8px;
    width: 272px;
  }

  .innerWrapperCollapsed {
    margin-right: 8px;
    width: 30px;
  }

  .outerWrapper {
    background: #dfe3e6;
    border-radius: 1px;
    overflow: hidden;
  }
}
