:global(#app) {
  .wrapper {
    height: 100%;
    width: 100%;
    padding: 20px 20px 20px 20px;
  }

  .header {
    color: var(--textColor0);
    height: 30px;
    margin-bottom: 20px;
    text-align: center;
  }

  .headerText {
    display: inline;
  }

  .headerButton {
    float: right;
    right: 50px;
    position: relative;
  }

  .tableWrapper {
    max-height: calc(100% - 50px);
  }
}
