:global(#app) {
  .container {
    min-height: 0;
  }

  .cell {
    -webkit-line-clamp: none;
    line-clamp: none;
  }

  .currentValueCell {
    word-break: break-word;
    white-space: pre-wrap;
  }

  .activityButtonWrapper {
    display: inline;

    button {
      margin-left: 4px;
      height: 100%;

      svg {
        vertical-align: middle;
      }
    }
  }
}
