:global(#app) {
  .container {
    min-height: 0;
  }

  .cell {
    -webkit-line-clamp: none;
    line-clamp: none;
  }

  .currentValueCell {
    word-break: break-word;
    white-space: pre-wrap;
  }
}
