:global(#app) {
  .submitButton {
    width: auto;
  }

  .wrapper {
    margin-bottom: 6px;
    display: flex;
    flex-direction: column;
  }

  .checkboxWrapper {
    margin: 6px 0 4px 0;
    display: inline-block;
    vertical-align: middle;
  }

  .checkbox {
    background: var(--backgroundColorTmpBackground);

    &:hover {
      background: var(--backgroundColorTmpBackgroundHover);
    }
  }

  .checkboxText {
    padding-left: 4px;
    display: inline-block;
    vertical-align: middle;
  }
}
