:global(#app) {
  .content {
    color: var(--textColor1);
    text-align: center;
    padding-bottom: 6px;
    padding-left: 2px;
    line-height: 20px;
  }

  .deleteButton {
    max-width: 300px;
  }
}
