:global(#app) {
  .data {
    color: var(--textColor0);
  }

  .linked {
    color: var(--linkedCard);

    &:hover {
      color: var(--linkedCardHover);
    }
  }

  .linkedDeleted {
    color: var(--linkedCardDeleted);
  }
}
