:global(#app) {
  .field {
    margin-bottom: 8px;
    width: 100%;
  }

  .fieldPassword {
    width: 100%;
  }

  .text {
    color: var(--textColor1);
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 6px;
  }
}
