:global(#app) {
  .input {
    background: var(--backgroundColorTmpDarkerField2);
    color: var(--textColor1);
    padding: 9.5px 8px;
    border: 1px solid var(--backgroundPopupSeparator);
    border-radius: 3px;

    &:focus {
      border: 1px solid var(--borderOutline2);
      outline: none;
    }

    &:disabled {
      background: var(--backgroundColorTmpDarkerField);
      color: var(--textColor4);
    }
  }

  &:global([data-theme-shape='rounded']) .input {
    border-radius: 8px;
  }

  .inputError {
    border: 1px solid var(--errorRed);

    &:focus {
      border: 1px solid var(--errorRed);
    }

    &::placeholder {
      color: var(--errorRed);
    }
  }

  .fullWidth {
    width: 100%;
  }

  .loginRegister {
    @extend .fullWidth;
    margin-bottom: 16px;
  }

  .default {
    @extend .fullWidth;
    margin-bottom: 6px;
  }
}
