:global(#app) {
  .input {
    background: var(--backgroundColorTmpDarkerField2);
    color: var(--textColor1);
    padding: 9.5px 8px;
    border: 1px solid var(--backgroundPopupSeparator);
    border-radius: 3px;

    &:focus {
      border: 1px solid var(--borderOutline2);
      outline: none;
    }

    &:disabled {
      background: var(--backgroundColorTmpDarkerField);
      color: var(--textColor4);
    }
  }

  .inputError {
    border: 1px solid var(--errorRed);

    &:focus {
      border: 1px solid var(--errorRed);
    }

    &::placeholder {
      color: var(--errorRed);
    }
  }

  .fullWidth {
    width: 100%;
  }

  .marginBottom4 {
    margin-bottom: 4px;
  }

  .marginBottom6 {
    margin-bottom: 6px;
  }

  .default {
    @extend .fullWidth;
    @extend .marginBottom4;
  }

  .defaultLast {
    @extend .fullWidth;
    @extend .marginBottom6;
  }
}
