:global(#app) {
  .strengthBar {
    margin: 4px 0 0 !important;
    opacity: 0.5;
  }

  .passwordIcon {
    position: absolute;
    right: 10px;
    top: 25%;

    fill: #6d6d6d !important;

    &:hover {
      fill: #000 !important;
    }
  }
}
