:global(#app) {
  .author {
    color: var(--textColor0);
    display: inline-block;
    font-weight: bold;
    line-height: 20px;
    margin-right: 8px;
    padding: 6px 0px 4px 0px;
  }

  .content {
    display: inline-flex;
    border-bottom: 1px solid var(--nodeOutline);
  }

  .wrapper {
    display: inline-block;
    padding: 6px 12px 10px 8px;
    width: 100%;
  }

  .scope {
    width: 10px;
    position: relative;
    overflow: hidden;
  }

  .scopeText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: var(--backgroundPopup);
    font-size: 8px;
    font-family: 'ui-monospace', 'SFMono-Regular', 'SF Mono', 'Menlo', 'Consolas', 'Liberation Mono', 'monospace';
    font-weight: bold;
    width: inherit;
    -webkit-text-stroke: 0.3px currentColor;
  }

  .date {
    color: var(--textColor3);
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
  }

  .contentText {
    color: var(--textColor2);
  }

  .user {
    display: inline-block;
    padding: 4px 8px 0 0;
    vertical-align: top;
  }

  .board {
    padding-left: 12px;
    margin-left: auto;
  }

  .project {
    margin: 0 12px 0 4px;

    &::before {
      content: '•';
      display: inline-block;
      margin-right: 4px;
      vertical-align: middle;
      color: var(--textColor3);
    }
  }

  .instanceContent {
    background: var(--instanceActivity);
  }

  .userContent {
    background: var(--userActivity);
  }

  .projectContent {
    background: var(--projectActivity);
  }

  .boardContent {
    background: var(--boardActivity);
  }

  .listContent {
    background: var(--listActivity);
  }

  .cardContent {
    background: var(--cardActivity);
  }

  .taskContent {
    background: var(--taskActivity);
  }

  .attachmentContent {
    background: var(--attachmentActivity);
  }

  .commentContent {
    background: var(--commentActivity);
  }
}
