:global(#app) {
  .presets {
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    align-items: center;
    justify-content: center;
  }

  .dropdown {
    width: auto;
  }

  .button {
    width: auto;
    padding: 2px 4px;
  }

  .container {
    min-height: 0;
    overflow: hidden;
  }
}
