:global(#app) {
  .fieldBox {
    display: inline-block;
    margin: 0 4px 12px;
    width: calc(50% - 8px);
  }

  .fieldWrapper {
    margin: 0 -4px;
  }

  .text {
    color: #444444;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 4px;
    padding-left: 2px;
  }
}
