:global(#app) {
  .progressContainer {
    width: calc(100% - 2px);
    margin: 2px 1px;
    background: var(--textColorWhite);
    border-radius: 3px;
    overflow: hidden;
  }

  .progressBar {
    transition: width 0.3s;
  }

  .red {
    background: #db2828;
  }

  .orange {
    background: #f2711c;
  }

  .yellow {
    background: #fbbd08;
  }

  .olive {
    background: #b5cc18;
  }

  .green {
    background: #21ba45;
  }

  /* Size classes */

  .tiny {
    height: 5px;
  }
}
