:global(#app) {
  .field {
    margin-bottom: 4px;
    width: 100%;
  }

  .importButton {
    width: auto;
    overflow: hidden;
    text-decoration: underline;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
