:global(#app) {
  .wrapper {
    margin: 0 -12px;
    max-width: max(274px, 35vw);
  }

  .item {
    padding: 4px 8px 12px 8px;

    &:hover {
      background: var(--backgroundPopupHover);
    }
  }

  .itemHeader {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
  }

  .itemButton {
    margin-left: auto;
    svg {
      fill: var(--textColor3);
    }

    &:hover {
      svg {
        fill: var(--textColor4);
      }
    }
  }

  .user {
    display: inline-block;
    padding: 4px 8px 0 0;
    vertical-align: top;
  }

  .author {
    color: var(--textColor0);
    display: inline-block;
    font-weight: bold;
    line-height: 20px;
    margin-right: 8px;
    padding: 6px 0px 4px 0px;
  }

  .date {
    color: var(--textColor3);
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
  }

  .itemContent {
    display: inline-block;
    font-size: 13px;
    overflow: hidden;
    padding: 0 2px;
    word-break: break-word;
    color: var(--textColor2);
  }
}
