:global(#app) {
  .header {
    padding: 12px 32px 8px;
  }

  .actionsWrapper {
    position: absolute;
    right: 8px;
    display: inline-flex;
  }

  .notificationCount {
    color: var(--textColor3);
  }
}
