:global(#app) {
  ._default {
    width: 100%;
    padding: 8px;
  }

  .compact {
    width: 100%;
    padding: 2px 4px 2px 6px;
  }

  .wrapper {
    flex: 1;
    height: 100%;
    min-width: 100%;
    position: relative;
  }

  .table {
    height: calc(100% - 20px);
    width: 100%;
    border-collapse: collapse;
    display: block;
    table-layout: fixed;
  }

  .header {
    display: block;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 2px 5px var(--shadowBlack01);
  }

  ._defaultHeader {
    height: 60px;
  }

  .compactHeader {
    height: 40px;
  }

  .headerRow {
    display: flex;
    width: 100%;
    height: 100%;
    background: var(--backgroundSidebar);
    color: var(--textColorWhite);
    font-weight: bold;
  }

  .headerCell {
    display: inline-flex;
    align-items: center;
    position: relative;
    height: 100%;
    color: var(--textColor1);
    flex-shrink: 0;
    white-space: nowrap;
    overflow: hidden;

    &:last-child {
      flex-shrink: 1;

      .resizer {
        right: 2px;
      }
    }
  }

  .headerCellCenter {
    justify-content: center;
  }

  .headerCellCenterInner {
    white-space: nowrap;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
  }

  .resizer {
    z-index: 1;
    right: -5px;
    position: absolute;
    height: 40%;
    width: 10px;
    top: 35%;
    cursor: ew-resize;

    &:hover {
      &::before {
        background: var(--tableResizeHover);
      }
    }
  }

  .resizer::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 2px;
    background: var(--tableResize);
  }

  .sortingIndicator {
    display: inline-flex;
    align-items: center;
  }

  .sortingIconRotated {
    transform: rotate(180deg);
  }

  .sortingIndex {
    margin-left: -3px;
  }

  .body {
    display: block;
    background: var(--backgroundSidebarItem);
  }

  ._defaultBody {
    height: calc(100% - 60px);
  }

  .compactBody {
    height: calc(100% - 40px);
  }

  .bodyRow {
    display: flex;
    background: var(--backgroundSidebarItem);

    &:nth-of-type(odd) {
      background: var(--backgroundSidebarItem2);
    }
  }

  .bodyRowSelected {
    border: 1px solid var(--borderOutline2);
    background: var(--backgroundCardOpened) !important;
  }

  .bodyCell {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    color: var(--textColor1);

    &:hover {
      background: var(--shadowBlack015);
    }

    &:last-child {
      flex-shrink: 1;
    }
  }

  .pagination {
    position: sticky;
    bottom: 0;
    left: 0;
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 20px;
    padding: 10px 6px 0 2px; //TODO fix 10px padding top - hack to get right placement
  }

  .paginationIconRotated {
    transform: rotate(180deg);
  }

  .paginationPageInput {
    padding: 0 1px;
    width: 30px;
    text-align: right;
    margin-right: 2px;
  }

  .paginationDropdown {
    margin-left: 4px;
    line-height: 16px;
    font-size: 14px;
  }

  .paginationDropdownInput {
    padding: 0 20px 1px 3px;
  }

  .paginationDropdownButton {
    top: -2px;
  }
}
