:global(#app) {
  .noUnread {
    color: var(--textColor2);
    padding: 20px;
    text-align: center;
  }

  .wrapper {
    margin: 0 -12px -12px -12px;
    max-width: max(274px, 35vw);
  }

  .item {
    padding: 4px 8px 12px 8px;
    border-bottom: 1px solid var(--nodeOutline);

    &:hover {
      background: var(--backgroundPopupHover);
    }
  }

  .itemFullScreen {
    &:hover {
      background: var(--backgroundNotificationHover);
    }
  }

  .itemRead {
    opacity: 0.5;
  }

  .itemHeader {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
  }

  .firstItemButton {
    margin-left: auto;
  }

  .itemButton {
    svg {
      fill: var(--textColor3);
    }

    &:hover {
      svg {
        fill: var(--textColor4);
      }
    }
  }

  .user {
    display: inline-block;
    padding: 4px 8px 0 0;
    vertical-align: top;
  }

  .author {
    color: var(--textColor0);
    display: inline-block;
    font-weight: bold;
    line-height: 20px;
    margin-right: 8px;
    padding: 6px 0px 4px 0px;
  }

  .date {
    color: var(--textColor3);
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
  }

  .board {
    color: var(--textColor2);
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    padding-left: 12px;
    margin-left: auto;
  }

  .project {
    color: var(--textColor2);
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    margin: 0 12px 0 4px;

    &::before {
      content: '•';
      display: inline-block;
      margin-right: 4px;
      vertical-align: middle;
      color: var(--textColor3);
    }
  }

  .empty {
    &::before {
      content: 'N/A';
      color: var(--linkedCardDeleted);
      font-style: italic;
    }
  }

  .itemContent {
    display: inline-block;
    font-size: 13px;
    overflow: hidden;
    padding: 0 2px;
    word-break: break-word;
    color: var(--textColor2);
  }

  .wrapperFullScreen {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .header {
    text-align: center;
    margin: 0 min(20px, 1vw);
    padding: 20px;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .content {
    padding: 0 min(20px, 1vw) 20px min(20px, 1vw);
  }

  .notificationCount {
    color: var(--textColor3);
    margin-left: 4px;
  }

  .actionsWrapper {
    display: inline-flex;
    position: absolute;
    right: 8px;
  }
}
