:global(#app) {
  .wrapperFullScreen {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .header {
    text-align: center;
    margin: 0 20px;
    padding: min(20px, 1vw);
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 0;
  }

  .title {
    padding: 0 0 6px 0;
  }

  .content {
    padding: 0 min(20px, 1vw) 20px min(20px, 1vw);
  }

  .notificationCount {
    color: var(--textColor3);
    margin-left: 4px;
  }

  .actionsWrapper {
    display: inline-flex;
    position: absolute;
    right: calc(12px + min(20px, 1vw));
  }

  .noUnread {
    color: var(--textColor2);
    padding: min(20px, 1vw);
    text-align: center;
  }
}
