:global(#app) {
  .formTitle {
    font-size: 36px;
    font-weight: normal;
    margin-bottom: 32px;
    color: var(--textColor0);
  }

  .message {
    background-color: var(--backgroundColor0);
  }

  .fullHeight {
    height: 100%;
  }

  .fullHeightPaddingFix {
    height: calc(100% + 1rem);
  }

  .inputLabel {
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 4px;
    color: var(--textColor2);
  }

  .inputWrapper {
    margin-bottom: 16px;
  }

  .loginWrapper {
    margin: 0 auto;
    max-width: 440px;
    padding: 0 20px;
  }

  .wrapper {
    background: var(--backgroundColor0);
  }
}
