:global(#app) {
  .wrapper {
    padding: 10px 20px 10px 20px;
  }

  .floatingButtonsWrapper {
    pointer-events: none;
    position: sticky;
    left: 90%;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: end;
    width: fit-content;
  }

  .floatingButton {
    pointer-events: auto;
    background: var(--backgroundList);
    color: var(--textColor2);
    height: 36px;
    padding: 8px;
    text-align: left;
    width: fit-content;

    &:hover {
      color: var(--textColor2);
      background: var(--backgroundListButton);

      .addCardButtonIcon {
        fill: var(--textColor2);
      }
    }
  }

  .floatingButtonIcon {
    fill: var(--textColor2);
  }

  .floatingButtonText {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-left: 2px;
    vertical-align: top;
  }

  .iconTableHeader {
    fill: var(--textColor1);
    flex-shrink: 0;
  }
}
