:global(#app) {
  .wrapper {
    position: fixed;
    display: flex;
    width: 100%;
    height: calc(100% - 50px);
  }

  .content {
    flex: 1;
    height: 100%;
    width: calc(100% - 230px);
  }

  .contentCompact {
    width: calc(100% - 180px);
  }

  .sidebar {
    background-color: var(--backgroundSidebar);
    color: var(--text0);
    width: 230px;
    height: 100%;
    box-shadow: 2px 0 5px var(--shadowBlack01);
    display: flex;
    flex-direction: column;
  }

  &:global([data-theme-shape='rounded']) .sidebar {
    padding-top: 4px;
    border-radius: 0 12px 0 0;
  }

  .sidebarCompact {
    width: 180px;
  }

  .sidebarHidden {
    width: 0px;
    visibility: hidden;
  }

  .scrollable {
    flex-grow: 1;
  }

  .toggleSidebarButton {
    position: absolute;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -33px;
    left: 6px;
  }

  .sidebarTitle {
    color: var(--text0Strong);
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0 10px 6px;
  }

  .sidebarTitleIcon {
    margin-right: 6px;
    vertical-align: -10%;
    fill: var(--text0Strong);
  }

  .sidebarItem {
    padding: 0 10px;
    background: var(--backgroundSidebarItem);
  }

  .hoverButton {
    opacity: 0;
  }

  .boardDraggable {
    &:hover {
      .hoverButton {
        opacity: 1;
      }
    }
  }

  .sidebarItemProject {
    background: var(--backgroundSidebarItemCategory);
    border-top: 1px solid var(--borderSidebar);
    display: flex;
    align-items: center;

    &:hover {
      .hoverButton {
        opacity: 1;
      }
    }
  }

  .sidebarItemBoard {
    background: var(--backgroundSidebarItem);
    padding: 8px 0;
    display: flex;
  }

  .sidebarItemInner {
    flex: 1 1 0;
    padding: 0;
    min-width: 0;
  }

  .sidebarItemActive {
    background: var(--backgroundSidebarItemSelected);
    border-left: 2px solid var(--accentSelected);

    button {
      font-weight: bold;
    }

    &:hover {
      button {
        color: var(--text0);
      }
    }

    button {
      &:hover {
        svg {
          fill: var(--accentSelected) !important;
        }
      }
    }
  }

  .sidebarActive {
    background: var(--backgroundSidebarItemSelected);
    border-left: 2px solid var(--accentSelected);

    button {
      font-weight: bold;
    }

    &:hover {
      button {
        color: var(--text0);
      }

      svg {
        fill: var(--text0) !important;
      }
    }
  }

  .sidebarButton {
    color: var(--text0);

    svg {
      fill: var(--text0);
    }

    &:hover {
      color: var(--text1);

      svg {
        fill: var(--text1);
      }
    }
  }

  .icon {
    margin-right: 4px;
    fill: var(--text0);
  }

  .sidebarButtonPadding {
    padding: 8px 8px 8px 0px;
  }

  .github {
    fill: var(--iconGithubActive);
    margin-left: 4px;
  }

  .githubNotifications {
    margin-right: 4px;
  }

  .boardButton {
    padding: 0;
  }

  .boardCannotManage {
    margin-left: 13px;
  }

  .collapseIcon {
    vertical-align: middle;
  }

  .collapseIconCollapsed {
    transform: rotate(270deg);
  }

  .footerButton {
    padding: 8px 14px;
  }

  .footerButtonIcon {
    margin-right: 4px;
  }

  .reorderBoardsButton {
    width: 13px;
  }

  .notification {
    background: var(--backgroundNotifications);
    color: var(--textWhite);
    font-size: 12px;
    padding: 0px 4px;
    border-radius: 3px;
    text-align: left;
    margin-left: 4px;
  }
}
