:global(#app) {
  .message {
    align-content: space-between;
    align-items: center;
    color: var(--textColor0);
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
  }

  .messageTitle {
    font-size: 32px;
    margin: 24px 0 8px;
  }

  .messageContent {
    font-size: 18px;
    line-height: 1.4;
    margin: 4px 0 0;
    text-align: center;
  }

  .wrapper {
    height: calc(100vh - 50px);
    background: var(--backgroundColor);
  }

  .wrapperBoard {
    height: calc(100vh - 174px);
  }

  .wrapperFlex {
    display: flex;
  }

  .wrapperProject {
    height: calc(100vh - 98px);
  }
}
